extends ../node_modules/jade-bootstrap/_bootstrap

append scripts
    script(src="https://use.fontawesome.com/2e9e0ef954.js")
    //- script(src="http://code.jquery.com/jquery-1.10.2.min.js")
    
append styles
    link(href="/stylesheets/style.css" rel="stylesheet" )
    link(href='/bootstrap/css/dashboard.css', rel='stylesheet')

block body
    div#bodyWrap
      header
        a#title(href="/") 
          h1 Hellomate 
          h6.center Welcome to Eun-hye's site
        a#link(href="/hi") 안녕출판사
        a#link(href="/about") about
        a#link(href="/admin/detail") 카테고리빌더
      div#bodyItem
        block content
      footer
        div#snsLink
          p.center
            a#facebook(href="https://www.facebook.com/" target="_blank" title="페이스북")
              i.fa.fa-facebook-official.fa-2x(aria-hidden="true")
            a#youtube(href="https://www.youtube.com/" target="_blank" title="유튜브")
              i.fa.fa-youtube.fa-2x(aria-hidden="true")
            a#instagram(href="https://www.instagram.com" target="_blank" title="인스타그램")
              i.fa.fa-instagram.fa-2x(aria-hidden="true")
            block footerScript