extends _layout
block content
    h3= title
    div
        img.about(src="/images/thumbnail.jpg")
    div.about.left
        h5 전시이력1
        h5 전시이력2
        h5 전시이력3
        h5 전시이력4
    div.about.right
        h4 Kim eun-hye
        h5 email@email.com
        h5 대한민국 서울
