extends _layout
block content  
	.table-responsive
		table.table.table-striped
			thead
				tr
					th name		
					th date
					th site
					th description
			tbody
				each project in projects
					tr
						td
							li #{project.name}
						td
							li #{project.date}
						td
							li #{project.site}
						td
							li #{project.description}

						
						
					





          

