doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    title 관리자 페이지
  body
  p hey this is just start;
  div
    each category in categories 
        li #{category.name}
  div
    form(id='uploadForm' method='POST' action='/categoryBuilder/save' enctype="multipart/form-data")
      div.form-group
        label(for='name') Name:
            input#name.form-control(type='text', placeholder='카테고리명' name='categoryName')
        label(for='name') Name:
            input#name.form-control(type='file', placeholder='이미지' name='image')
        button.btn.btn-primary(type='submit') 카테고리생성





          

