doctype html
html
  head
    meta(charset='utf-8')
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no")
    title 관리자 페이지
  body
    div
    each #{categories} in category
  p
    category.name

    div(class='button')
      a(href="/main/new") 메뉴등록

    div(class='gallery')
      div(class='wrap')
        -for(var i=0; i<20; i++)
          img(src="http://45.76.55.231:3000/image/thumbnail.jpg")