extends _layout
block content  
	.table-responsive
		table.table.table-striped
			thead
				tr
					th name		
					th date
					th site
					th description
					th detail
			tbody
				each project in projects
					tr
						td
							p #{project.name}
						td
							p #{project.date}
						td
							p #{project.site}
						td
							p #{project.description}
						td
							button.btn-button-primary(type='button') detail


						
						
					





          

