extends _layout
block content
    h3= title
    h6 춢판사소개글을
    h6 두줄정도로 적을 예정
    div#booksWrap.center.hi
        div#books
            div#book
                img(src="/uploads/image1.jpg")
                div 
                    h1 책1
            div#book
                img(src="/uploads/image2.jpg")
                div 
                    h1 책2
            div#book
                img(src="/uploads/image3.jpg")
                div 
                    h1 책3
            div#book
                img(src="/uploads/image4.jpg")
                div 
                    h1 책4
