extends layout

block content
  h1= title
  p Welcome to #{title}

  div
    a(href="/") 인덱스
  div
    a(href="/main") 메인
  div
    a(href="/board") 보드
  div
    a(href="/gallery") 갤러리
  div
    a(href="/users") 유저