extends _layout
append scripts
    script(src="/js/activeAbout.js")
block content
    h3= title
    div
        img.about(src="/images/thumbnail.jpg")
    div.about.left
        h6 2010. 01.  전시1!@#@!$#@%!$
        h6 2011. 01.  전시2AFef
        h6 2012. 02.  전시3fswefwkfjewl
        h6 2013. 01.  전시4wefhoiewfj32oi
    div.about.right
        h4 Kim eun-hye
        h6 email@email.com
        h6 대한민국 서울
